.wrapper.slide
  .container
    .row
      .three.columns
        .temperature
          %h1.date
            #{Date.today.strftime("%a")}
            %span.pull-right= Date.today.strftime("%m")
          .external
            11
            %span.unit °
      .nine.columns
        %ul.weather
          - @weather_forecasts.first(4).each do |w|
            %li
              #{weather_image(w[:type]).html_safe}
              %span #{weather_time_range(w[:value])}

    .row
      .twelve.columns.alerts
        %h1
        %br
          <a href="./notifier/internal.html"><img class="icon icon-alert" src="images/icon_train.png" /></a>
          <a href="./notifier/internal.html"><img class="icon icon-alert" src="images/icon_bus.png" /></a>
          - if @weather_warnings.any?
            <a href="./notifier/internal.html"><img class="icon icon-alert" src="images/icon_not_found.png" /></a>
          <a href="./notifier/internal.html"><img class="icon icon-alert" src="images/icon_recyling_symbol.png" /></a>
    .row
      .four.columns.todo-container
        <h1>Today's <a href="./notifier/internal.html" class="pull-right"><img class="icon icon-forward" src="images/icon_forward.png" /></a></h1>
        %ul.todo
          %li To do!
          %li To do!
          %li To do!
      .four.columns.trasnport-container
        <h1>Next to TC</h1>
        %ul.todo
          - @transport_tc.first(5).each do |t|
            %li Next #{t[:line_no]}: #{t[:next_time]}
      .four.columns.refuse-container
        <h1>Collection <a href="./notifier/internal.html" class="pull-right"><img class="icon icon-forward" src="images/icon_forward.png" /></a></h1>
        %ul.todo
          - @refuse.each do |r|
            - if r[:dates].any?
              %li 
                #{r[:type].capitalize}: 
                #{r[:dates].select{|d| d if d>Date.today}.map{|d| d.strftime("%d/%m/%Y")}.first}
.wrapper.slide
  .container
    #loading loading...
    #calendar