<%- model_class = Trick -%>
<div class="page-title">
  <div class="title_left">
    <h3><%=t '.title', :default => model_class.model_name.human.pluralize %></h3>
  </div>
</div>
<div class="clearfix"></div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:core) %></th>
      <th><%= model_class.human_attribute_name(:active) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @tricks.each do |trick| %>
      <tr>
        <td><%= link_to trick.id, trick_path(trick) %></td>
        <td><%= trick.name %></td>
        <td><%= trick.core %></td>
        <td><%= trick.active %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_trick_path(trick), :class => 'btn btn-primary btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>