<%- model_class = Trick -%>
<div class="page-title">
  <div class="title_left">
    <h3><%=t '.title', :default => model_class.model_name.human %></h3>
  </div>
</div>
<div class="clearfix"></div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @trick.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:core) %>:</strong></dt>
  <dd><%= @trick.core %></dd>
  <dt><strong><%= model_class.human_attribute_name(:active) %>:</strong></dt>
  <dd><%= @trick.active %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              tricks_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_trick_path(@trick), :class => 'btn btn-primary' %>
</div>
