<%- model_class = RefuseAddress -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:house_no) %></th>
      <th><%= model_class.human_attribute_name(:postcode) %></th>
      <th><%= model_class.human_attribute_name(:active) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @refuse_addresses.each do |refuse_address| %>
      <tr>
        <td><%= link_to refuse_address.id, edit_refuse_address_path(refuse_address) %></td>
        <td><%= refuse_address.name %></td>
        <td><%= refuse_address.house_no %></td>
        <td><%= refuse_address.postcode %></td>
        <td><%= refuse_address.active %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_refuse_address_path(refuse_address), :class => 'btn btn-primary btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")), refuse_address_path(refuse_address), method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-primary btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="actions">
<%= link_to t('.new', :default => t("helpers.links.new")),
                      new_refuse_address_path, :class => 'btn btn-primary btn-xs' %>
</div>