<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	<h1>Log in</h1>
	<div>
		<%= f.input :email, required: false, autofocus: true, label: false, placeholder: 'Username/Email' %>
		<%= f.input :password, required: false, label: false, placeholder: 'Password' %>
		<p class="change_link"><%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
		</p>
	</div>

	<div class="clearfix">
		<div class="form-actions">
			<%= f.button :submit, "Log in" %>
		</div>
		<%= render "devise/shared/links" %>
	</div>

	<div class="separator">	
		<div class="clearfix"></div>
	</div>

	<h1><i class="fa fa-paw"></i> <span>Raspgram!</span></h1>
<% end %>
