<!DOCTYPE html>
<html>
<head>
  <title>Raspgram</title>
  <%= javascript_include_tag 'homepage', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "homepage", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
       
<%= yield %>

</body>
</html>
